#list {
    padding: 0;
    margin: 0;
}


.list {
    display:block;
    width: 640px;
    height: 40px;
    flex-direction:row;
    justify-content: flex-end
    align-items: center;
    margin: 5px;
    border: 1px solid black;;
}

.list .name {
    margin: 0;
    padding: 0px 0;
    width: 100%;
    text-align: left;
}

.list img {
    width: 100%;
}

.list button {
    height:40px;
    width:40px;
    text-align:center;
    
}
.danger {
        text-align: right;
    }
p.name {
        padding:1px;
        color:blue; }